$primary            :   #EB5757;
$secondary          :   #0948EA; 
$border             :   #F1F2F4;
$white              :   #FFFFFF;
$text               :   #4E5D78;
$inputBg            :   #F7F8F9;;
$shape              :   rgba(9, 72, 234, 0.2);
$modelOverlay       :   rgba(3, 11, 34, 0.75);

$primaryBtnHover    :   #d24848;
$secondaryBtnHover  :   #073dca;
$closeBtnHover      :   #F1F2F4;

